body {
	font-size: 18px;
	color: #777777 ;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 34px;
	max-width: 100%;
	background: url("../images/concrete_seamless.png");
	align-content: center;
}

.container-fluid {
	display: block;
	clear: both;
	width:100%;
	margin: 0 auto;
	padding: 0;
}

header {
	width: 100%;
	margin: 0px;
	position: fixed;
	border-bottom: 2px solid #ccc;
	padding: 0px 10px 0px 0px;
	background-color: white;
	margin-left: 0px;
}

* {
	box-sizing: border-box;
	font-weight: 100;
	margin:0px;
	font-family: Georgia, Times, "Times New Roman", serif;

}

div {
	display: block;
}

.container-fluid ul li {
	float: right;
	text-align: center;
	color: #777777;
	border-color: #cccccc;
	font-family: Georgia, Times, "Times New Roman", serif;
	list-style-type: none;

}

#logo {
	float: left;
	width: 250px
	height: 90px;
	font-family: Georgia, Times, "Times New Roman", serif;
	text-align: center;
	color: #fff;
	background: #4aaaa5 ;
	font-size: 30px;
	font-weight: 700;
	line-height: 90px;
	margin-left: 150px;
	padding-left: 40px;
	padding-right: 30px;


}

#about, #portfolio, #contact {
	float: right;
	font-family: Georgia, Times, "Times New Roman", serif;
	text-align: center;
	color: #999;
	font-size: 20px;
	line-height: 18px;
	margin-top: 40px;
	padding: 0px 3px 5px 10px;
	margin-right: 70px;
	display:inline-block;

}


.main-container {
	padding: 20px;
	overflow: auto;
	margin-top: 130px;
	text-align: left;
	background-color: #ffffff;
	border-color: 3px solid #dddddd;
	float:left;
	max-width: 650px;
	padding-left: 10px;
	margin-left: 190px;
	border: 1px solid #ddd;
	margin-bottom: 30px;
	

}


h1 {
	border-bottom: 3px solid #ddd;
	margin-bottom: 30px;
	padding-bottom: 25px;
	font-size: 30px;
	margin-left: 10px;
	padding-left: 0px;
	color: #4aaaa5;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-weight: 700;
	margin-top: 15px;
}
.auth-image {
	width:200px;
	float:left;
	height: auto;
	padding:0px;
	margin:20px
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 20px;
}

p {
	color: #777777;
	margin-top: 20px;
	font-family: Georgia, Times, "Times New Roman", serif;
	margin-left: 15px;

}


#contact-form ul {
	margin-left: 10px;
	padding-left: 0px;
	margin-right: 160px;
}

#Name, #Email, #Message {
	padding-top: 5px;
	border: 1px solid #ddd;
	font: inherit;
	font-family: Georgia, Times, "Times New Roman", serif;
	margin-left: 10px;
}

#submit {
	float: left;
	font-family: Georgia, Times, "Times New Roman", serif;
	color: #fff;
	background: #4aaaa5 ;
	font-size: 20px;
	line-height: 40px;
	padding: 0px 30px;
	cursor: pointer;
	border: 0 none;
	margin-top: 5px;
	margin-left: 10px;

}

.section {
	display: block;
	border-color: #ddd;
	margin-bottom: 10px;

}

.sidebar {

	float:right;
	max-width: 270px;
	background-color: #ffffff;
	width: 100%;
	padding: 0px 10px 20px 20px;
	padding-right: 10px;
	border: 1px solid #ddd;
	margin-top: 130px;
	height: 200px;
	margin-right: 190px;

}

h2 {
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
	font-size: 25px;
	color: #4aaaa5;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-weight: 700;
	margin-top: 15px;
	text-align: center;
	margin-bottom: 10px;

}

.social {
	width:60px;
	margin-top: 8px;
	margin: 0;
	padding-right: 0px;
	margin-left: 10px;

}

.Picture {

  position: relative;
  float: left;
  width: 274px;
  margin: 10px 0 20px;
  overflow: auto;
  margin-left: 15px;
}

.Picture:nth-child(even) {
  margin-right: 40px;
}


.Picture img {
  width: 100%;
  border: 0 none;
}


.Picture h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

.container {
  width:100%;
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 8px solid #4aaaa5;
}



@media only screen and (max-width: 768px) {
  .container-fluid{
  	padding:0px;
  	margin-left: 0px;
  	
  }

  .main-container{
  	margin-left: 10px;

  }
  #logo {
  	margin-left: 0px;
  }

  #about, #portfolio, #contact {
	margin-right: 10px;
  }

  .sidebar{
  	margin-top: 0px;
  	width: 100%; 	
	margin-right: 5px;
	margin-left: 10px;
	max-width: 651px;
	margin-bottom: 30px;

  }

  header{
  	width: 100%;
	margin-left: 0px;
  }
}


@media only screen and (max-width: 900px) {
  .container-fluid{
  	padding:0px;
  	margin-left: 0px;
  	
  }

  .main-container{
  	margin-left: 10px;

  }
  #logo {
  	margin-left: 0px;
  }

  #about, #portfolio, #contact {
	margin-right: 10px;
  }

  .sidebar{
  	margin-top: 0px;
  	width: 100%; 	
	margin-right: 105px;
	margin-left: 10px;
	max-width: 651px;
	margin-bottom: 30px;

  }

  header{
  	width: 100%;
	margin-left: 0px;
  }
}

@media only screen and (max-width: 680px) {
  .container-fluid{
  	padding:0px;
  	margin-left: 0px;
  	
  }

  .main-container{
  	margin-left: 15px;
  	margin-top: 20px;
  	padding-top: 0px;
  	max-width: 350px;

  }

  #contact-form {
  	width: 100%;
  	max-width: 320px;
  	margin-top: 20px;
  }

  #logo {
  	width: 100%;
  	margin-left: 0px;
  	margin-right: 0px;
  	padding-right: 0px 20x;
  }

  #about, #portfolio, #contact {
	margin-right: 10px;
	margin-left: 0px;
  }

  .sidebar{
  	margin-top: 0px;
  	width: 100%; 	
	margin-right: 10px;
	margin-left: 30px;
	max-width: 350px;
	margin-bottom: 30px;

  }

  ul li #contact, ul li #portfolio, ul li #about {
  	text-align: center;
  	width: 100%;
  	margin-bottom: 20px;


  }

  header{
  	position: static;
  	overflow: auto;

  }

}

